.h-custom {
    height: 100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: black;
  }
  
  .labels {
    margin-top: 20px;
  }
  
  .container {
    border: solid;
    border-color: black;
  }