<div class="container">
  <div class="row">
    <div class="layout">
      
      <img id="logoAP" src="../../../assets/logo-AP.png" alt="logo-AP" />
    

      <div class="social">
      <app-social ></app-social>
      
      <button type="button" class="btn btn-outline-light"
        (click)="login()"
        *ngIf="!isLogged"
        >
        Login
      </button>

      
      <button type="button" class="btn btn-outline-light"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Logout
      </button>
    </div>
  </div>
  </div>
</div>
