<div class="row" id="education">
    <h2>Educacion </h2>
    <div class="col-lg-2">
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevaeduc"
        *ngIf="isLogged"
      >
        Nueva Educacion
      </button>
    </div>
  
    <div class="row">
      <table class="table">
        <tbody>
          <tr *ngFor="let Educacion of educacion">
            <td>{{ Educacion.nombreE }}</td>
            <td>{{ Educacion.descripcionE }}</td>
            <td *ngIf="isLogged">
              <button
                class="btn btn-light"
                routerLink="/editeduc/{{ Educacion.id }}"
              >
                <i class="bi bi-pencil"></i>
                Editar
              </button>
            </td>
            <td *ngIf="isLogged">
              <button
                class="btn btn-danger"
                (click)="delete(Educacion.id)"
              >
                <i class="bi bi-trash3"></i>
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

<!--
    <div class="row" id="education">
  <h2>Educacion</h2>
  <div>
    <ul>
      <li class="card mat-card">
        <div class="row">
          <div class="col-3 col-md-3 text-center">
            <a href="#">
              <img
                class="img-fluid"
                src="../../../assets/mg-logo.webp"
                id="logo-mg"
                alt="logo-MG"
              />
            </a>
          </div>
          <div class="col-9 col-md-9">
            <h2>Bachiller con Orientación en Economía y Administración</h2>
            <h4>Instituto Martín Güemes, Berazategui</h4>
            <h5>Egreso: Diciembre del 2016</h5>

            <ul>
              <li>
                Permanecí toda mi trayectoria escolar en la misma institución
                desde los 3 años.
              </li>
              <li>
                A pesar de no ser un colegio bilingüe, la asignatura de Inglés
                se enseña desde primaria
              </li>
              <li>Promedio General: 7,28</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="card mat-card">
        <div class="row">
          <div class="col-3 col-md-3 text-center">
            <a href="#">
              <img
                class="img-fluid"
                id="logo-unq"
                src="../../../assets/logo-unq-simple.png"
                alt="logo-UNQ"
              />
            </a>
          </div>
          <div class="col-9 col-md-9">
            <h2>Licenciatura en Informática</h2>
            <h5>2018 - Actualidad</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
              accusamus repudiandae veniam id sapiente aperiam deleniti eum
              maiores eveniet itaque animi corporis consectetur est nesciunt
              repellendus beatae, voluptates culpa! Dignissimos?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
    

-->
