.row{
    padding: 20px;
}

#education{
    background-color: #B3CDE0;
}

#logo-unq,#logo-mg{
    margin-top: 20px;
    
}

.mat-card{
    border-radius: 32px;
    margin: 10px 20px;
    padding: 20px;
}

.card {
    border-radius: 10px;
}