<section class="vh-100">

  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <h3>Login</h3>
    <label class="form-label" for="nombreUsuario"> Username </label>
    <input
      type="email"
      id="nombreUsuario"
      name="nombreUsuario"
      class="form-control form-control-lg"
      placeholder="Enter a valid Username"
      [(ngModel)]="nombreUsuario"
      required
    />
    
    <label class="form-label" for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control form-control-lg"
      placeholder="Enter password"
      [(ngModel)]="password"
      required
    />
 
    <button type="submit" class="btn btn-primary">Log In</button>
    
  </form>

</section>