.form-control:focus {
  box-shadow: none;
  border-color: black;
}

.labels {
  margin-top: 20px;
}

.container {
  border: solid;
  border-color: black;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.open > .dropdown-toggle.btn-outline-secondary {
  color: #fff;
  background-color: green;
  border-color: black !important;
}

