<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-mg-2">
        <img 
            class="img-fluid" 
            id="profile-image"
            src="../../../assets/profile-img.jpg" 
            alt="perfilIMG"
        >
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-mg-2"> 
        <h1 id="nombre" >Joaquin Villalba</h1>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-mg-8" >
         <span>
            <h1>Acerca de mí</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam iste excepturi itaque libero aliquam voluptas sapiente cupiditate reprehenderit, est perferendis adipisci consequatur et similique tempore illo rerum ab. Necessitatibus, quae.
            </p>
        </span>
        
    </div>
</div>
